@media (min-width: 376px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    width: 100%;
  }

  header {
    width: 100%;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .page-container {
    display: flex;
    flex-direction: column;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
  }

  .Nav-1 a {
    color: #28352f;
    font-size: 5.5vw;
    padding-left: 5vw;
  }

  .Nav-2 a {
    padding-right: 5vw;
  }

  .section-title {
    font-size: 7.2vw;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    width: 100%;
    color: #172b4d;
    line-height: 12vw;
    margin-top: 21%;
  }

  .social-icons {
    width: 5vw;
    height: 6vw;
    margin-right: 3vw;
    margin-left: 3vw;
  }

  #s-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    text-align: center;
    background-image: url(images/header-illsutration-mobile.svg);
    background-size: 100% 100%;
    padding: 0% 10% 0% 10%;
    width: 100%;
  }

  .A-con p {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 5vw;
    font-weight: lighter;
    line-height: 7.5vw;
    flex-wrap: wrap;
    padding-left: 7%;
    padding-right: 7%;
    color: #42526e;
    margin-top: 5%;
    height: auto;
  }

  #s-1 p {
    font-size: 5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #172b4d;
    margin-top: 5vw;
    margin-bottom: 25%;
  }

  #s-1 .social-media {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .card-content-2 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
    flex-wrap: wrap;
  }

  .card-content ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    background: #fff;
    height: auto;
  }

  .social-media-2 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  #s-1 ul {
    margin-top: 1vw;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
  }

  .social-media-block {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  #s-1 span {
    color: #36b37e;
  }

  .b-con {
    border-radius: 50%;
    border: 1px solid #dfe1e6;
    padding: 2vw;
    background-color: #fff;
    height: 10vw;
    width: 10vw;
  }

  .b-con:hover {
    background-color: #ebeff4;
  }

  .section-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 22vh;
    padding: 2vw;
    margin-top: 4%;
    margin-bottom: 15%;
    margin-left: 8%;
    margin-right: 8%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 8vw;
  }

  .heading-title {
    text-align: center;
  }

  #works-grid {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    height: auto;
  }

  .Card {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    height: auto;
    text-align: center;
    border-radius: 8px;
    margin: 6%;
    align-items: stretch;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    height: 100%;
    text-align: center;
    border-radius: 8px;
    grid-row-start: 2;
    flex-wrap: wrap;
    padding: 2vw;
    justify-content: space-around;
    align-items: center;
  }

  .card-content li {
    float: right;
    flex-grow: 1;
    border: none;
    border-radius: 3px;
    height: 5vh;
    background: #ebf0ee;
    text-align: center;
    margin: 1vw;
    padding-top: 2vw;
    padding-bottom: 4vw;
    font-size: 2vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #3a4a42;
  }

  .card-content h3 {
    font-size: 6vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 8.3vw;
    margin-top: 3%;
    color: #3a4a42;
  }

  .ruby {
    flex-grow: 3;
  }

  .card-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #36b37f;
    padding: 2vw;
    color: #fff;
    width: 35%;
    height: 7vh;
    border-radius: 4px;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 3vw;
    font-family: 'Inter', sans-serif;
  }

  .B button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-style: none;
    background: #36b37f;
    padding: 2vw;
    height: 80%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
    letter-spacing: 0.03em;
    border-radius: 4px;
  }

  .B-2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-style: none;
    background: #36b37f;
    padding: 3vw;
    height: 80%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    letter-spacing: 0.03em;
    border-radius: 4px;
  }

  .card-content a:hover {
    background: #36b37f;
    box-shadow: 0 8px 0.8vw rgba(54, 179, 127, 0.24);
  }

  .card-content a:active {
    background: #008552;
  }

  #about-myself-section {
    width: 100%;
    height: auto;
    margin-bottom: auto;
    background-image: url(images/Mask\ Group.svg);
    background-position: right;
    background-position-y: top;
    background-repeat: no-repeat;
  }

  .A-con {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .B {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    background-image: url(images/Group.svg);
    background-position-y: bottom;
    background-size: 20%;
    background-repeat: no-repeat;
    height: auto;
    margin-top: 5%;
  }

  .B button:hover {
    background: #36b37f;
    box-shadow: 0 0.4vw 0.8vw rgba(54, 179, 127, 0.24);
  }

  .B button:active {
    background: #008552;
  }

  .A-con h1 {
    font-family: 'Inter', sans-serif;
    font-size: 7vw;
    color: #172b4d;
    margin-top: 9vh;
  }

  #Works-grid-2 {
    display: grid;
    grid-template-columns: auto;
    padding: 0.5vw;
    margin-bottom: 5vw;
  }

  .Card-2 {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    height: auto;
    text-align: center;
    border-radius: 8px;
    margin: 5%;
    align-items: stretch;
    padding-bottom: 30px;
  }

  .Card-2 img {
    width: 100%;
    height: auto;
  }

  .card-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  .card-content-2 li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    height: 6vh;
    background: #fff;
    text-align: center;
    font-size: 2vw;
    line-height: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #36b37e;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 2vw;
    margin-right: 2vw;
    width: auto;
  }

  .card-content-2 h3 {
    font-size: 7.6vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    color: #344563;
  }

  #heading-grid {
    display: grid;
    grid-template-columns: auto;
    margin-left: 6vw;
    margin-right: 6vw;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 9vw;
    line-height: 12vw;
    text-align: center;
    color: #172b4d;
    margin-top: 5vh;
  }

  #form-grid {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 10vh;
  }

  #form-grid input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 8vh;
    width: 100%;
    background: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4vh;
    padding: 3vw;
    font-family: 'Inter', sans-serif;
    color: #6b778c;
    font-weight: normal;
    font-size: 3.3vw;
    line-height: 24px;
  }

  #form-grid textarea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 19vh;
    width: 100%;
    background: #fff;
    border: 1px solid #60c095;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4vh;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 3.5vw;
    line-height: 24px;
    color: #091e42;
    padding: 3vw;
    resize: initial;
    background-image: url(images/comment-icon.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }

  #contact-grid {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    background-image: url(images/Frame.svg);
    background-size: 183% 100%;
    background-repeat: no-repeat;
  }

  .B-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 10vh;
    margin-top: 5%;
  }

  .social-media-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6vw;
  }

  .social-icons-2 {
    width: 6vw;
    height: 6vw;
    margin-right: 3vw;
    margin-left: 3vw;
  }

  .email {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 4vw;
    line-height: 7vw;
    color: #42526e;
    height: 30vh;
    text-align: center;
    margin-top: 1vh;
  }

  .light {
    display: flex;
    align-items: flex-end;
    margin-top: 20vh;
    width: 100%;
  }
}

@media (max-width: 375px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .page-container {
    display: flex;
    flex-direction: column;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
  }

  .Nav-1 a {
    color: #28352f;
    font-size: 5.5vw;
    padding-left: 5vw;
  }

  .Nav-2 a {
    padding-right: 5vw;
  }

  .section-title {
    font-size: 7.2vw;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    width: 100%;
    color: #172b4d;
    line-height: 12vw;
    margin-top: 21%;
  }

  .social-icons {
    width: 5vw;
    height: 6vw;
    margin-right: 3vw;
    margin-left: 3vw;
  }

  #s-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    text-align: center;
    background-image: url(images/header-illsutration-mobile.svg);
    background-size: 100% 100%;
    padding: 0% 10% 0% 10%;
    width: 100%;
  }

  .A-con p {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 5.4vw;
    font-weight: lighter;
    line-height: 7.5vw;
    flex-wrap: wrap;
    padding-left: 7%;
    padding-right: 7%;
    color: #42526e;
    margin-top: 5%;
    height: auto;
  }

  #s-1 p {
    font-size: 5.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #172b4d;
    margin-top: 5vw;
    margin-bottom: 25%;
  }

  #s-1 .social-media {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .card-content-2 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
    flex-wrap: wrap;
  }

  .card-content ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    background: #fff;
  }

  .social-media-2 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  #s-1 ul {
    margin-top: 1vw;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
  }

  .social-media-block {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  #s-1 span {
    color: #36b37e;
  }

  .b-con {
    border-radius: 50%;
    border: 1px solid #dfe1e6;
    padding: 2vw;
    background-color: #fff;
    height: 10vw;
    width: 10vw;
  }

  .b-con:hover {
    background-color: #ebeff4;
  }

  .section-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 22vh;
    padding: 2vw;
    margin-top: 4%;
    margin-bottom: 15%;
    margin-left: 8%;
    margin-right: 8%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10vw;
  }

  .heading-title {
    text-align: center;
  }

  #works-grid {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }

  .Card {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: 50%;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    height: 474px;
    text-align: center;
    border-radius: 8px;
    margin: 6%;
    align-items: stretch;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    height: 100%;
    text-align: center;
    border-radius: 8px;
    grid-row-start: 2;
    flex-wrap: wrap;
    padding: 2vw;
    justify-content: space-around;
    align-items: center;
  }

  .card-content li {
    float: right;
    flex-grow: 1;
    border: none;
    border-radius: 3px;
    height: 5vh;
    background: #ebf0ee;
    text-align: center;
    margin: 1vw;
    padding: 2vw;
    font-size: 3.8vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #3a4a42;
  }

  .card-content h3 {
    font-size: 7.6vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 30px;
    margin-top: 3%;
    color: #3a4a42;
  }

  .ruby {
    flex-grow: 3;
  }

  .card-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #36b37f;
    padding: 2vw;
    color: #fff;
    width: 35%;
    height: auto;
    border-radius: 4px;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 4.5vw;
    font-family: 'Inter', sans-serif;
  }

  .B button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-style: none;
    background: #36b37f;
    padding: 2vw;
    height: 80%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 4.8vw;
    letter-spacing: 0.03em;
    border-radius: 1.2vw;
  }

  .B-2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-style: none;
    background: #36b37f;
    padding: 3vw;
    height: 80%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 4.8vw;
    letter-spacing: 0.03em;
    border-radius: 4px;
  }

  .card-content a:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .card-content a:active {
    background: #008552;
  }

  #about-myself-section {
    width: 100%;
    height: auto;
    margin-bottom: 6vh;
    background-image: url(images/Mask\ Group.svg);
    background-position: right;
    background-position-y: top;
    background-repeat: no-repeat;
  }

  .A-con {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .B {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    background-image: url(images/Group.svg);
    background-position-y: bottom;
    background-size: 20%;
    background-repeat: no-repeat;
    height: auto;
    margin-top: 5%;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .B button:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .B button:active {
    background: #008552;
  }

  .A-con h1 {
    font-family: 'Inter', sans-serif;
    font-size: 12.3vw;
    color: #172b4d;
    margin-top: 12vh;
  }

  #Works-grid-2 {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    margin-bottom: 5vw;
  }

  .Card-2 {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: 50%;
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    height: 352px;
    text-align: center;
    border-radius: 8px;
    margin: 5%;
    align-items: stretch;
    padding-bottom: 30px;
  }

  .Card-2 img {
    width: 100%;
    height: 100%;
  }

  .card-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  .card-content-2 li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    height: 6vh;
    background: #fff;
    text-align: center;
    font-size: 4vw;
    line-height: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #36b37e;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 2vw;
    margin-right: 2vw;
    width: auto;
  }

  .card-content-2 h3 {
    font-size: 8vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    color: #344563;
  }

  #heading-grid {
    display: grid;
    grid-template-columns: auto;
    margin-left: 6vw;
    margin-right: 6vw;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 10.2vw;
    line-height: 14.5vw;
    text-align: center;
    color: #172b4d;
    margin-top: 5vh;
  }

  #form-grid {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 11vw;
    line-height: 14.5vw;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 6vh;
  }

  #form-grid input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 8vh;
    width: 100%;
    background: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4vh;
    padding: 3vw;
    font-family: 'Inter', sans-serif;
    color: #6b778c;
    font-weight: normal;
    font-size: 3.8vw;
    line-height: 6.7vw;
  }

  #form-grid textarea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 19vh;
    width: 100%;
    background: #fff;
    border: 1px solid #60c095;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4vh;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 4.1vw;
    line-height: 6.7vw;
    color: #091e42;
    padding: 3vw;
    resize: initial;
    background-image: url(images/comment-icon.svg);
    background-size: 10% 10%;
    background-repeat: no-repeat;
    background-position: 101% 94%;
    padding-bottom: 3vw;
  }

  #contact-grid {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 11.2vw;
    line-height: 14.5vw;
    background-image: url(images/Frame.svg);
    background-size: 183% 100%;
    background-repeat: no-repeat;
  }

  .B-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 10vh;
    margin-top: 5%;
  }

  .B-2 button:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .B-2 button:active {
    background: #008552;
  }

  .social-media-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6vw;
  }

  .social-icons-2 {
    width: 6vw;
    height: 6vw;
    margin-right: 3vw;
    margin-left: 3vw;
  }

  .email {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 5.3vw;
    line-height: 8.9vw;
    color: #42526e;
    height: 30vh;
    text-align: center;
  }

  .light {
    display: flex;
    align-items: flex-end;
    margin-top: 20vh;
    width: 100%;
  }
}
